
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 72 33% 98%;
    --foreground: 222 14% 16%;

    --card: 0 0% 100%;
    --card-foreground: 222 14% 16%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 14% 16%;

    --primary: 106 54% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 60 100% 95%;
    --secondary-foreground: 106 54% 44%;

    --muted: 60 10% 96%;
    --muted-foreground: 222 14% 46%;

    --accent: 106 54% 94%;
    --accent-foreground: 106 54% 44%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 106 54% 44%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
  
  .dot-bg {
    background-size: 20px 20px;
    @apply bg-dot-pattern bg-dot-light dark:bg-dot-dark;
  }
}
